<ion-view view-title="Pokedex">
  <ion-content>
    <ion-list>
     <!-- <!DOCTYPE html> -->
<html>
<head>
  <title>Pokedex</title>
</head>

<!-- style="background-color: #colorcode" gives background color -->
<body style="background-color: #FFFFFF">

<table align="center" border="1p" style="background-color: #ff3232">
  <thead>
  <tr>
<!-- style="width:#px;height:#px;" changes the size of the image -->
    <th align="left"><img src="https://apk-dl.com/detail/image/com.Kidaz.Blue_Ball-w200.png" style="width:50px; height:50px"><h1 style="color: #FFFFFF">POKEDEX</h1></th>
    <th align="center"><img src="http://thecraftchop.com/files/others/Pokeball.svg" style="width:50px; height:50px"></th>
    <th align="center"><img src="http://thecraftchop.com/files/others/Pokeball.svg" style="width:60px; height:60px"></th>
    <th align="center"><img src="http://thecraftchop.com/files/others/Pokeball.svg" style="width:70px; height:70px"></th>
  </tr>
    <tr style="background-color: #a0a0a0">
      <th><h3>Image</h3></th>
      <th><h3>Name</h3></th>
      <th><h3>Type(s)</h3></th>
      <th><h3>Evolves Into</h3></th>
    </tr>
  </thead>
  <tbody>
<!-- align="position" to align the text(center,left,right)-->
<!-- Bulbasaur info -->
    <tr align="center" style="background-color: #FFFFFF">
<!-- title="text" shows a text when the mouse is over the image  -->
      <td> 
        <img width="100"  src="http://img4.wikia.nocookie.net/__cb20140328190757/pokemon/images/thumb/2/21/001Bulbasaur.png/200px-001Bulbasaur.png" title="Bulbasaur #001">
      </td>
      <td>Bulbasaur</td>
      <td><p>Grass/Poison</p>
      <img src="https://vignette3.wikia.nocookie.net/roblox-pokemon-brickbronze/images/2/2d/Grass-type.png/revision/latest?cb=20170401051924" style="width:30px; height:30px">
      <img src="http://www.pokemonacademylife.com/wiki/images/9/99/Poison-logo.png"  style="width:30px; height:30px">
      </td>
      <td><a href="http://pokemon.wikia.com/wiki/Ivysaur" title="Ivysaur Evolution"><p>Ivysaur</p> <img src="https://vignette3.wikia.nocookie.net/es.pokemon/images/8/86/Ivysaur.png/revision/latest?cb=20140207202404" style="width: 50px; height: 50px"></a></td>
    </tr>
<!-- Charmander info -->
    <tr align="center" style="background-color: #FFFFFF">
      <td> 
        <img width="100"  src="http://img4.wikia.nocookie.net/__cb20140724195345/pokemon/images/thumb/7/73/004Charmander.png/200px-004Charmander.png" title="Charmander #004">
      </td>
      <td>Charmander</td>
      <td><p>Fire</p>
      <img src="http://firetypepokemon.weebly.com/uploads/3/2/0/5/32050987/160983187.png" style="width:30px; height:30px">
      </td>
      <td><a href="http://pokemon.wikia.com/wiki/Charmeleon" title="Charmeleon Evolution"><p>Charmeleon</p> <img src="https://vignette2.wikia.nocookie.net/es.pokemon/images/f/fb/Charmeleon.png/revision/latest?cb=20140207202536" style="width: 50px; height: 50px"></a></td>
    </tr>
<!-- Squirtle info -->
    <tr align="center" style="background-color: #FFFFFF">
      <td> 
        <img width="100" src="http://img1.wikia.nocookie.net/__cb20140328191525/pokemon/images/thumb/3/39/007Squirtle.png/200px-007Squirtle.png" title="Squirtle #007">
      </td>
      <td>Squirtle</td>
      <td><p>Water</p>
      <img src="https://vignette2.wikia.nocookie.net/go-anipedia/images/3/3a/Water-Type.png/revision/latest?cb=20151024153815" style="width:30px; height:30px">
      </td>
      <td><a href="http://pokemon.wikia.com/wiki/Wartortle" title="Wartortle Evolution"><p>Wartortle</p> <img src="https://vignette2.wikia.nocookie.net/es.pokemon/images/d/d7/Wartortle.png/revision/latest?cb=20140207202657" style="width: 50px; height: 50px"></a></td>
    </tr>
<!-- Pikachu info -->
    <tr align="center" style="background-color: #FFFFFF">
      <td> 
        <img width="100" src="http://cdn.bulbagarden.net/upload/thumb/0/0d/025Pikachu.png/250px-025Pikachu.png" title="Pikachu #025">
      </td>
      <td>Pikachu</td>
      <td><p>Electric</p>
<img src="http://cdn.playbuzz.com/cdn/4868eddb-fff5-41ba-8482-8436cdccf810/20f6c5af-1281-4327-988d-9b19999100a3.png" style="width:30px; height:30px">
      </td>
      <td><a href="http://pokemon.wikia.com/wiki/Raichu" title="Raichu Evolution"><p>Raichu</p> <img src="http://cdn.bulbagarden.net/upload/thumb/8/88/026Raichu.png/250px-026Raichu.png" style="width: 50px; height: 50px"></a></td>
    </tr>
  </tbody>
</table>
</body>
</html>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
